<h1>Add a New Bug</h1>
<form method="post">
    <fieldset>
        <label for="title" class="col-2">Title: *</label>
        <input name="title" id="title" required />
    </fieldset>
    <label for="priority"> Priority:
    <select name="priority" id="priority" required style="margin-left: 7rem;"> 
            {{#each priorities}}
                <option>{{this.name}}</option>
            {{/each}} 
    </select>
    </label>
    <fieldset>
        <label for="creator" class="col-2">Creator: *</label>
        <input name="creator" id="creator" required />
    </fieldset>
    <label for="status"> Status: 
    <select name="status" id="status" required style="margin-left: 7rem">
            {{#each statuses}}
                <option>{{this.name}}</option>
            {{/each}}
    </select>
    </label>
    <fieldset>
        <label for="type" class="col-2">Type: *</label>
        <input name="type" id="type" required />
    </fieldset>
    <fieldset>
        <label for="description" class="col-2">Description:</label>
        <textarea name="description" id="description"></textarea>
    </fieldset>
    <fieldset>
        <label for="solution" class="col-2">Solution: *</label>
        <textarea name="solution" id="solution"></textarea>
    </fieldset>
    <button class="offset-2 btn btn-primary">Save</button>
</form>


